# Created by .ignore support plugin (hsz.mobi)
*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/workspace.xml
*.jks
target/
lib_managed/
src_managed/
project/boot/
.history
.cache
.idea
